.compartirs{
    margin-top: 150px;
}
.form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  
    flex-direction: column;
    justify-content: center;
    
  }
  
  .form input {

    width: 90%;
    height: 30px;
    margin: 0.5rem;

  }
  
  .boton {

text-align: center;
    
  }